<div id="filters">
    <div class="filter">
     <a href="/listings"> <div> <i class="fa-solid fa-earth-americas"></i></i></div>&nbsp; All &nbsp; </a>
    </div>

    <div class="filter">
     <a href="/listings?category=Trending"> <div> <i class="fa-solid fa-fire"></i></div>Trending</a>
    </div>

    <div class="filter">
     <a href="/listings?category=Rooms"><div><i class="fa-solid fa-bed"></i></div>Rooms</a>
    </div>

    <div class="filter">
     <a href="/listings?category=Iconic-Cities"><div><i class="fa-solid fa-mountain-city"></i></div>Iconic-Cities</a>
    </div>

    <div class="filter">
    <a href="/listings?category=Mountain"><div><i class="fa-solid fa-mountain"></i></div>Mountain</a>
    </div>

    <div class="filter">
     <a href="/listings?category=Castles"><div><i class="fa-brands fa-fort-awesome"></i></div>Castles</a>
    </div>
    
    <div class="filter">
      
     <a href="/listings?category=Amazing-Pools"><div><i class="fa-solid fa-person-swimming"></i></div>Amazing Pools</a>
    </div>
    
    <div class="filter">
    
     <a href="/listings?category=Campings">  <div><i class="fa-solid fa-campground"></i></div>Campings</a>
    </div>
    
    <div class="filter">
     
     <a href="/listings?category=Farms"> <div><i class="fa-solid fa-cow"></i></i></div>Farms</a>
    </div>
    
    <div class="filter">
     
     <a href="/listings?category=Arctic"> <div><i class="fa-solid fa-snowflake"></i></div>Arctic</a>
    </div>
    
    <div class="filter">
      
     <a href="/listings?category=Boats"><div><i class="fa-solid fa-ship"></i></div>Boats</a>
    </div>


    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
      </div>
    </div>
  </div>