<% layout("/layouts/boilerplate")-%>
<body>
    <Div class="err">

        <h4 class="err-content"><%=status%></h4>
        
        <!-- <div class="alert alert-danger" role="alert">
            <%=status%>
          </div> -->
          <h4 class="err-content"><%=message%></h4>
        <!-- <div class="alert alert-danger" role="alert">
            <%=message%>
          </div> -->


    </Div>
</body>
