<% layout("/layouts/boilerplate")-%>
<body>
    <%- include("../includes/filter.ejs") %>
    <Div class="err f-err">

        

          <h4 class="err-content"> <i class="fa-solid fa-ban"></i></h4>
          <h4 class="err-content"> <%= message %> </h4>
      


    </Div>
</body>
